    </div>

    <div class="footer">
        <a href="index.php">&laquo; Back to Matomo</a>
    </div>

</div>
<script type='text/javascript'>
	document.oncontextmenu = function(){return false}
</script>
</body>
</html>
